table {
	width:100%;
}

.topic_bar {
	height:30px;
	background:#F7F7F7 none repeat scroll 0 0;
	border-bottom:1px solid #D8DFEA;
	color:gray;
	padding:12px 10px 10px;
}

.topic_actions {
	float:right;
	line-height:16px;
	padding:1px 0 0;
	text-align:right;
}

.board_topic {
	height:30px;
	background:white none repeat scroll 0 0;
	border-top:0 solid #CCCCCC;
	margin:0;
	border-bottom:1px solid #CCCCCC;
	padding:10px;
}

.first {
	border-top:1px solid #CCCCCC;
}


.board_topic .more_info {
color:gray;
padding-top:2px;
}

.right_info {
	color:black;
	float:right;
	width:220px;
	padding-top:3px;
	text-align:right;
}

.topic_info {
	float:left;
	padding-right:10px;
	width:480px;	
}

.topic_header {
	background:#F7F7F7 none repeat scroll 0 0;
	border-bottom:1px solid #D8DFEA;
	border-top:1px solid #3B5998;
	color:#222222;
	font-size:11px;
	padding:3px 4px;
}

.bringed_item {
	background:#F7F7FF;
	border:1px solid #D8DFEA;
	color:#222222;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-bottom:10px;
	padding:3px 4px 2px 4px;
	background-repeat:no-repeat;
	
}

.bringed_item :hover {
	background:#F7F7F0;
	color:blue;
}

.bringed_item .bringed_item_delete {
	color: #3B5998;
	font-weight:bold;
	cursor:pointer;
	display:inline;
	padding:0 3px 0 3px;
}

.menu {
	margin:10px;
	background:#F7F7F7 none repeat scroll 0 0;
	border:1px solid #D8DFEA;
	color:#222222;
	font-size:11px;
	padding:10px 10px 10px 10px;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

